<div class="layout-container">
  <!-- Sidebar -->
  <nav class="sidebar" [class.collapsed]="collapsed">
    <button (click)="toggle()">☰</button>
    
    <ul *ngIf="auth.getRole() === 'Administrador'">
      <li><a routerLink="/admin/reportes">Reportes</a></li>
      <li><a routerLink="/admin/ventas">Ventas</a></li>
      <li><a routerLink="/admin/productos">Productos</a></li>
      <li><a routerLink="/admin/clientes">Clientes</a></li>
      <li><a routerLink="/admin/tecnicos">Técnicos</a></li>
      <li><a routerLink="/admin/solicitudes">Solicitudes</a></li>
      <li><a routerLink="/admin/gestion-usuarios">Usuarios</a></li>
      <li><a routerLink="/admin/configuracion">Configuración</a></li>
    </ul>

    <ul *ngIf="auth.getRole() === 'Filial'">
      <li><a routerLink="/filial/ventas">Ventas</a></li>
      <li><a routerLink="/filial/reportes">Reportes</a></li>
      <li><a routerLink="/filial/clientes">Clientes</a></li>
    </ul>
  </nav>

  <!-- Contenido principal -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
